html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="utf-8" lang="utf-8")
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    link(rel="stylesheet", href='../../settings/email.css', type='text/css')
  body
    div(style="display: none; max-height: 0px; overflow: hidden;")
       include preview.txt
    div(style="display: none; max-height: 0px; overflow: hidden;")
        | &nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;
    div#container
      // banner starts after this
      div#banner
        div(style="max-width:720px;text-align: center;margin:auto;")
          span
            img#banner.banner(src='img/banner.jpg', alt='_______', width='100%')
        include:rho banner-subhead.txt         
        include toc.html
        hr
        include:rho wham.txt
      // banner ends before this
      // main content starts after this
      include content.html
      // main content ends before this
      // footer content starts after this
      div#container
        hr
        div(style="max-width:720px;text-align: center;margin:auto;")
        include:rho calendar.txt
        include:rho link.txt
      // right column content ends before this
